.myDiv{
    height:100%;
    width:100%;
      
 padding-left: 20px;
    color:forestgreen;    
font-family: cursive;
}

#div1, #div2, #div3,#div4, #div5, #div6, #div7, #div8, #div9, #div10{
    width:300px;
    height:10%;
   
    background-color: black;
    
}

#close{
    position:relative;
    letter-spacing: -9;
    line-height: .2;
    font-size: 20px;
    font-family:Verdana;
    margin-left: 5em;
    margin-top:1em; 
    color:black;
    width:400px;
        height:50px;
    
}
.continue{
    font-size: 30px;
    position:absolute;
  margin-left:90%;
    margin-top:90%;
    
    
    
}

#one{
    position:relative;
    width:100px;
   transform: rotate(30deg);
}
#2{
  transform: rotate(30deg);   
}
#3{
   transform: rotate(30deg);  
}
#4{
   transform: rotate(30deg);  
}
#5{
   transform: rotate(30deg);  
}
#6{
   transform: rotate(30deg);  
}
#7{
  transform: rotate(30deg);   
}
#8{
  transform: rotate(30deg);   
}
#9{
   transform: rotate(30deg);  
}
